@model UsingRepository.Core.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<h2 class="alert alert-warning">Details Of product</h2>

<div class="row product-details">
    <div class="col-md-6 col-xs-6">
        <a href="@Url.Content(Model.ImagePath)" class="thumbnail" data-fancybox-group="group1" title="@Model.Name">
            <img class="img-responsive" alt="" src="@Url.Content(Model.ImagePath)">
        </a>
        <div class="thumbnails small row">
            @foreach (var product in Model.Products.Take(4))
            {
                <div class="col-xs-3">
                    <a href="@Url.Content(product.ImagePath)" class="thumbnail" data-fancybox-group="group1" title="@product.Name">
                        <img class="img-responsive" src="@Url.Content(product.ImagePath)" alt="">
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                @{
                    var total = Model.Price;
                    var discount = ((float) (ViewBag.discount ?? 0));
                    if (discount != 0)
                    {
                        total =Model.Price - (Model.Price * ((float) ViewBag.discount) / 100);

                    }
                    <address>
                        <strong>Product Code : </strong> <span>@Model.Id</span><br>
                        <strong>Brand : </strong> <span>@Model.Category.Name</span><br>
                        <strong>Product Name : </strong> <span>@Model.Name</span><br>
                        <strong>Product Description : </strong> <span>@Html.Raw(Model.Description)</span><br>
                        <strong>Price : </strong> <span>$@Model.Price</span><br>
                        <strong>Discount : </strong> <span>%@discount</span><br>

                    </address>
                <h4>
                    <strong>Price after discount : $@total</strong>

                </h4>
            }
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">      
                <p>&nbsp;</p>
                <div class="form-group">
                    <label class="col-md-2">Qty:</label>
                    <input type="text" id="quantity" value="1" name="quantity" class="form-control col-md-6" placeholder="1">
                    <button type="button" class="btn btn-Black" data-product-id="@Model.Id" id="btnAddToCart">Add to cart</button>
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @* <div class="row"> *@
        @*     <div class="col-xs-12"> *@
        @*         <ul class="nav nav-tabs" id="myTab"> *@
        @*             <li class="active"> *@
        @*                 <a href="#home">Description</a> *@
        @*             </li> *@
        @*             <li class=""> *@
        @*                 <a href="#profile">Additional Information</a> *@
        @*             </li> *@
        @*         </ul> *@
        @*         <div class="tab-content"> *@
        @*             <div class="tab-pane active" id="home"> *@
        @*                 @Html.Raw(Model.Description) *@
        @*         </div> *@
        @*             <div class="tab-pane" id="profile"> *@
        @*                 <table class="table table-striped"> *@
        @*                     <tbody> *@
        @*                     <tr class=""> *@
        @*                         <th>Size</th> *@
        @*                         <td>Small , Larage</td> *@
        @*                     </tr> *@
        @*                     <tr> *@
        @*                         <th>Color</th> *@
        @*                         <td>Blue , Black</td> *@
        @*                     </tr> *@
        @*                     </tbody> *@
        @*                 </table> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* *@
        @* </div> *@
        @Html.Partial("_RelatedProducts", Model)
    </div>
</div>






@section scripts
{
    <script>
        $(function() {
            $('#myTab a:last').tab('show');
            $('#myTab a').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
        $(document).ready(function() {
            $('.thumbnail').fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });

            $('#myCarousel').carousel({
                interval: 4000
            });
            CartAddController.add();
        });
    </script>
}

