@model UsingRepository.Areas.ViewModels.VerifyPhoneNumberViewModel

@{
    ViewData["Title"] = "Verify Code";
}

<h2 class="alert alert-info">تاكيد الكود من الايميل</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true,"",new{@class="text-danger"})
    @Html.AntiForgeryToken();

    <div class="form-group">
        @Html.LabelFor(m=>m.Code)
        @Html.TextBoxFor(m=>m.Code,new{@class="form-control"})
        @Html.ValidationMessageFor(m=>m.Code,"",new{@class="text-danger"})
    </div>

    <button class="btn btn-Black">تأكيد</button>
}