@model IEnumerable<UsingRepository.Core.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2 class="alert alert-info">كل الأصناف</h2>
    <p>
        @Html.ActionLink("صنف جديد", "Create",null,new {@class="btn btn-Black btn-lg"})
    </p>
    <table id="categoryTable" class="table table-responsive table-bordered table-responsive">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.Id }, new { @class = "btn btn-primary " }) |
                    <input type="submit" class="btn btn-danger js-Delete" value="حذف"
                           data-id="@item.Id"/>
                </td>
            </tr>
        }
        </tbody>

    </table>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            DeleteController.init('/api/Category/');
            $("#categoryTable").dataTable();
        });
    </script>
}

